[submodule "antenna_app/lib/RadioLib"]
	path = antenna_app/lib/RadioLib
	url = https://github.com/jgromes/RadioLib.git
[submodule "sdsl-can"]
	path = sdsl-can
	url = https://github.com/ASU-SDSL/sdsl-can.git
